
/* PROPRIETà CHE VA AD AGIRE SULLO SCROLL ORIZZONTALE questa proprieta 
è molto penalizzata dalla SEO se non usata per un valido motivo */
body{
    overflow-x: hidden;
}

*{
    font-family: "Fira Sans", sans-serif;

}

h1,h2,h3,h4, .icone{
    font-family: "Teko", sans-serif;
}

:root{
    --viola:rgb(65, 0, 38);
    --arancione:rgb(255, 72, 0);
    --bianco:rgb(240, 240, 240);
}

.txt-viola{
    color: var(--viola);
}

.txt-arancione{
    color: var(--arancione);
}

.txt-bianco{
    color: var(--bianco);
}

.bg-viola{
    background-color: var(--viola);
}

.bg-arancione{
    background-color: var(--arancione);
}

.bg-bianco{
    background-color: var(--bianco);
}

.nav-personale{
    height: 85px;
    width: 100%;
    background-color: var(--bianco);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: 99;
}

.nav-personale2{
    background-color: rgb(0, 0, 0);
}

.dimendioneLogo{
    height: 55px;
}

.blackFridayNav{
    color: var(--arancione);
    font-weight: bold;
}

.elementiNav{
    margin-left: 10px;
    margin-right: 10px;
}

.fw-bold{
    color: rgb(0, 0, 0);
}



.testolink2{
    font-size: 12px;
}


/* INIZIO barra di ricerca iportata */
        .group {
        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        }

        .input {
        width: 210px;
        height: 30px;
        line-height: 28px;
        padding: 0 1rem;
        padding-left: 2.5rem;
        border: 2px solid transparent;
        border-radius: 2px;
        outline: none;
        background-color: rgb(226, 226, 226);
        color: #0d0c22;
        transition: 0.3s ease;
        }

        .input::placeholder {
        color: #9e9ea7;
        }

        .input:focus,
        input:hover {
        outline: none;
        border-color: rgba(0, 48, 73, 0.4);
        background-color: #fff;
        box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
        }

        .icon {
        position: absolute;
        left: 1rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;
        }
/* FINE barra di ricerca iportata */

.iconeNav{
    padding: 10px;
    width: 40px;
    font-size: 21px;
}

.header{
    height: 100vh;
    margin-top: 85px;
    background: linear-gradient(to right, rgba(10,10,10,9), rgba(10,10,10,0)), url("./media/heder\ img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* importato bottone */
.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-12 span {
  mix-blend-mode: difference;
}

.btn-12:after,
.btn-12:before {
  background: linear-gradient(
    90deg,
    #fff 25%,
    transparent 0,
    transparent 50%,
    #fff 0,
    #fff 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #fff 0,
    #fff 50%,
    transparent 0,
    transparent 75%,
    #fff 0
  );
  z-index: -1;
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}


.sezioneProdotti{
    height: 50vh;
}
.prodottoPriomo{
    background: url(./media/giulia-perera-VYgZOTb-Zls-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
